* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: Roboto, sans-serif;
}

header {
    background-color: #5f27cd;
    padding: 16px 5px;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #341f97;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

header input {
    margin-left: 16px ;
}

form {
    background-color: #c8d6e5 ;
    padding:  24px 0;
    text-align: center;    
}

input, button {
    padding: 8px;
}

button {
    background-color: #009432 ;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

ul li{    
    list-style: none;
    position: relative;
    max-height: 170px;
    overflow-y: hidden;
}

.item-tarefa {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.item-tarefa:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}